
<section class="sidebar">
    <h1>Bloc Chat</h1>
    <div ng-controller="HomeCtrl as home">
        <p class="newroom" ng-click="home.open()">New Room<p>
    </div>
    <div ng-repeat="room in home.rooms">
        <h3 class="room" ng-click="home.setActiveRoom(room)">{{ room.$value }}</h3>
    </div>
    <h3> {{ currentUser }}</h3>
</section>

<section class="chatbar">
    <form>
    Message: <input type="text"></input>
    </form>
</section>

<section class="chatroom">
    <h2>{{ home.activeRoom.$value }}</h2>
    <div ng-repeat="message in home.messages">
        <h3>{{ message.content }}</h3>
    </div>
</section>

    